{% extends 'base.html' %}
{% block content %}

    <div id="hero" class="hero overlay subpage-hero portfolio-hero">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Portfolio</h1>
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Portfolio</li>
                </ol>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

    <main id="main" class="site-main">
        <section class="site-section subpage-site-section section-portfolio">
            <div class="container">

                <ul class="portfolio-sorting list-inline text-center">
                    <li><a href="#" class="btn btn-gray active" data-group="all">Tous</a></li>
                    <li><a href="#" class="btn btn-gray" data-group="plaque">Plaqué</a></li>
                    <li><a href="#" class="btn btn-gray" data-group="massif">Massif</a></li>
                </ul><!-- /.portfolio-sorting  -->

                <div id="grid" class="row">

                    {% for furniture in furnitures %}                            
    
                        <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["{{furniture.caracteristic}}"]'>
                            <div class="portfolio-item">
                                <img src="{{ furniture.image.url}}" class="img-res" alt="">
                                <h4 class="portfolio-item-title">{{ furniture.title }}</h4>
                                <a href="{% url 'portfolio_item' furniture.id %}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </div><!-- /.portfolio-item -->
                        </div>
    
                    
                    {% endfor %}
                </div>
    
    
                    <div class="text-center">
                        <a class="btn btn-gray" href="#" id="loadMore">Charger plus</a>
                    </div>
    
                </div>
        </section><!-- /.section-portfolio -->
{% endblock %}