{% load static %}
<!--attention heroku est devenu chiant il faut mettre des majuscule au .JPG, PNG, ... (sensible à la casse)-->
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Clémence Pavec, restaurateur de mobilier d'Art</title>

    <meta name="description" content="Clémence Pavec, restaurateur de meuble ancien, ébéniste, marqueteur, sculpteur, création de meuble et d'objet en bois, situé au Mans">
    <meta name="author" content="Clémence Pavec">
    <meta name="keywords" content="ébéniste, bois, meuble, rénovation, marqueterie">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.PNG' %}">
    <link rel="icon" type="image/PNG" sizes="16x16" href="{% static 'img/favicon.PNG' %}">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-controle.css' %}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <header id="masthead" class="site-header-index site-header-white">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">

                <div class="navbar-header">
                   
                    <a class="site-title"><span>Cab</span>Mac</a>

                </div><!-- /.navbar-header -->

                <div class="collapse navbar-collapse" id="agency-navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li class="active"><a href="{% url 'index' %}" data-toggle="dropdown">Accueil</a></li>

                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Porfolio<i class="fa fa-caret-down hidden-xs" aria-hidden="true"></i></a>

                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li><a href="{% url 'portfolio_creation' %}">Création</a></li>
                              <li><a href="{% url 'portfolio_restauration' %}">Restauration</a></li>
                            </ul>

                        </li>    
                        <!-- <li><a href="blog.html">Blog</a></li> -->
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        <!-- <li><a href="#">Boutique</a></li>-->

                    </ul>

                </div>

            </div>   
        </nav><!-- /.site-navigation -->
    </header><!-- /#mastheaed -->

    <div id="hero" class="hero overlay">
        <div class="hero-content">
            <div class="hero-text">
                <h1><span id='yellow-letter'>L</span>E CA<span id='yellow-letter'>B</span>INET D<span id='yellow-letter'>E</span> MACAS<span id='yellow-letter'>S</span>AR</h1>
                <p>Restauration de meubles, marqueterie, sculpture sur bois et ébenisterie</p>
                <a href="{% url 'contact' %}" class="btn btn-border white">Contact</a>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section class="site-section section-features">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Ébéniste - Restaurateur</h2>
                        <p>Après l’obtention d’un bac général scientifique, j’ai été diplômée d’un CAP et d’un BMA en ébénisterie au lycée Raphaël Elisé, à Sablée sur Sarthe. J’ai poursuivi mes études au lycée Napoléon à l’Aigle, ou j’ai obtenu les Cap de sculpteur ornemaniste et de marqueteur. Enfin, suite à de nombreux stages, j’ai voulu me spécialiser dans la restauration de mobilier. J’ai ainsi passé mon certificat professionnel à l’AFPA de Chartres en 2021.</p>

<p>J’ai également, au cours de ses dernières années, eu l’occasion de travailler dans différents ateliers durant des stages. Cela m’a permis d’apprendre différentes techniques et procédés qui ont enrichi mon savoir-faire.</p>

<p>Aujourd’hui, Mr de Willecot, au Mans, et Mr Plumier, à Plumaudan, ébénistes confirmés, me proposent de me confier une partie de leur travail.</p>

<p>Je vous propose des services de restauration de mobilier, dans le respect du patrimoine et de l’environnement ainsi que des meubles anciens, et divers créations d’objets en bois.
                            </p>
                    </div>
                    <div class="col-sm-7 hidden-xs">
                        <img src="{% static 'img/photo-profil.JPG' %}" alt="">
                    </div>
                </div>
            </div>
        </section><!-- /.section-features -->

        <section class="site-section section-services gray-bg text-center">
            <div class="container">
                <h2 class="heading-separator">Mes compétences</h2>
                <p class="subheading-text">Forte de 8 années d'étude et d'une expérience qui n'est plus à démontrer, je possède de nombreuses compétences qui s'avèrent particulièrement utiles dans la rénovation et la création des meubles.</p>
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'img/logo-eb.svg' %}" alt="">
                            <h3 class="service-title">Ebénisterie</h3>
                            <p class="service-info">L’ébéniste est un artisan qui transforme des bois, plus ou moins précieux, pour créer du mobilier
                                fonctionnel ou décoratif. Le mot « ébénisterie » apparaît au 18ème siècle, il est tiré du mot ébène,
                                désignant le bois de l'ébénier.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'img/logo-sc.svg' %}"  alt="">
                            <h3 class="service-title">Sculpture sur bois</h3>
                            <p class="service-info">Cette technique consiste à retirer de la matière afin de faire apparaître des formes ou motifs. Le sculpteur
                                peut ainsi créer diverses œuvres en bois, telles que des statuettes, réaliser le décor de certains meubles, ou
                                les restaurer.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'img/logo-ma.svg' %}" alt="">
                            <h3 class="service-title">Marqueterie</h3>
                            <p class="service-info">La marqueterie est un décor réalisé avec des placages de bois mais aussi avec d'autres matières (laiton,
                                écailles de tortue...). Les matériaux sont découpés suivant un dessin et collés sur un support. Ce savoir-
                                faire est très utile pour la restauration de mobilier.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'img/logo-re.svg' %}"  alt="">
                            <h3 class="service-title">Restauration de mobilier</h3>
                            <p class="service-info">Cette discipline consiste à restaurer et réparer des meubles anciens pour leur faire retrouver leurs aspect et
                                fonctionnalité d'origines, tout en respectant les principes liés à la conservation.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>  
        <!--
        <section class="site-section section-map-feature text-center">

            <div class="container">
                <h2>Responsive Web Design</h2>
                <p>Web design is responsive design. Responsive web design is web design, done right.</p>
                <a href="#" class="btn btn-fill">Learn More</a>
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="counter-item">
                            <p class="counter" data-to="377" data-speed="2000">0</p>
                            <h3>Cofee Cups</h3>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="counter-item">
                            <p class="counter" data-to="1204" data-speed="2000">0</p>       
                            <h3>Projects completed</h3>
                        </div>      
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="counter-item">
                            <p class="counter" data-to="459" data-speed="1000">0</p>
                            <h3>Happy Clients</h3>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="counter-item">
                            <p class="counter" data-to="675" data-speed="1000">0</p>
                            <h3>Average Deal</h3>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>-->
        
        <section class="site-section section-portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="heading-separator">Mes derniers travaux</h2>
                </div>
                <div class="row">
                {% for furniture in furnitures %}                            

                    <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["{{furniture.caracteristic}}"]'>
                        <div class="portfolio-item">
                            <img src="{{ furniture.image.url}}" class="img-res" alt="furniture.alt">
                            <h4 class="portfolio-item-title">{{ furniture.title }}</h4>
                            <a href="{% url 'portfolio_item' furniture.id %}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div><!-- /.portfolio-item -->
                    </div>

                
                {% endfor %}
                </div>
            </div>
        </section><!-- /.section-portfolio -->

        <!--
        <section class="site-section section-newsletter text-center">
            <div class="container">
                <h2>Subscribe our newsletters</h2>
                <form class="form-group newsletter-group">
                    <input type="email" class="form-control" placeholder="Your e-mail" required>
                    <button class="btn btn-green" type="button">Subscribe</button>
                </form>
            </div>
        </section> -->

    </main><!-- /#main -->

    <footer id="colophon" class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a class="site-title"><span>Cab</span>Mac</a>
                    <p>Travaillant seule, je me focalise sur la qualité de chacunes de mes rénovations et créations.</p>
                    <p>Je mesure mon succès par le contentement de mes clients. Pour laisser un avis, utilisez l'onglet de contact.</p>
                </div>
                <div class="col-lg-offset-4 col-md-3 col-sm-4 col-md-offset-2 col-sm-offset-0 col-xs-6 ">
                    <h3>Rester en contact</h3>
                    <ul class="list-unstyled contact-links">
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:clemencepavec@gmail.com">clemencepavec@gmail.com</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+33645597625">06 45 59 76 25</a></li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i><p>53 rue de la Fuie, 72000 Le Mans</p></li>
                    </ul>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <h3>Menu</h3>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'index' %}">Acceuil</a></li>
                        <li><a href="{% url 'portfolio_creation' %}">Créations</a></li>
                        <li><a href="{% url 'portfolio_restauration' %}">Réstaurations</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="social-links">
                            <a class="twitter-bg" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="facebook-bg" href="https://www.facebook.com/profile.php?id=100088593787712"><i class="fa fa-facebook"></i></a>
                            <a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                            <a class="linkedin-bg" href="#"><i class="fa fa-linkedin"></i></a>
                        </div><!-- /.social-links -->
                    </div>
                    <div class="col-xs-4">
                        <div class="text-right">
                            <p><a href="{% url 'mentions_legales' %}">Mentions légales</a></p>
                            <p><a href="{% url 'politique_de_confidentialite' %}">Politique de confidentialité</a></p>
                            <p>&copy; AgencyPerfect</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.copyright -->
    </footer><!-- /#footer -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.countTo.min.js' %}"></script>
    <script src="{% static 'js/jquery.shuffle.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  
</body>
</html>