<h1>POLITIQUE DE CONFIDENTIALITE</h1>


Dans le cadre de notre activité nous sommes amenés à traiter des informations vous concernant. En
remplissant notre formulaire de contact vous nous transmettez des informations (données personnelles) de
nature à vous identifier.
La présente politique de confidentialité vous informe de la manière dont nous traitons ces informations. Nous
vous recommandons de prendre connaissance de ce document.
<h2>1. Collecte des informations</h2>
Nous recueillons des informations lorsque vous remplissez notre formulaire de contact.
Les informations recueillies incluent obligatoirement votre nom, votre adresse e-mail, l’objet de votre
demande et votre demande
<h2>2. Utilisation des informations</h2>
Toutes les informations que nous recueillons peuvent être utilisées pour :
· vous contacter par e-mail
· répondre à vos questions, attentes ou problématiques
· vous proposer des solutions commerciales adaptées à vos demandes
· répondre à vos besoins de prises en charge
· améliorer notre service de relation client
· améliorer notre site
· établir des devis, des factures en lien avec les prestations ou services demandés
<h2>3. Communication des informations</h2>
Nous sommes les seuls propriétaires des informations recueillies sur ce site. Vos informations personnelles
ne sont pas vendues, échangées, transférées, données ou transmises de quelque façon que ce soit à un tiers
pour n’importe quelle raison, sans votre consentement.
Nous pouvons cependant communiquer vos informations à un organisme gouvernemental qui fait valoir son
autorité légitime d’obtenir ces données ou lorsque nous avons des motifs raisonnables de croire que les
renseignements pourraient être utiles dans le cadre d’une enquête visant une activité illicite, ou pour nous
conformer à une assignation, un mandat ou une ordonnance émanant d’un tribunal, d’une personne ou d’un
organisme compétent.
<h2>4. Contrôle des informations</h2>
Vous conservez un contrôle total et un droit de regard sur les informations personnelles que vous nous
transmettez.
Vous pouvez exercer ce contrôle et consulter, rectifier ou demander la suppression totale ou partielle de ces
informations sur simple demande écrite à l’adresse suivante : 53 rue de la Fuie, 72000 Le Mans.
<h2>5. Stockage des informations</h2>
Les informations recueillies par le biais de ce site sont stockées sur des appareils numériques, ordinateurs et
serveurs locaux appartenant à notre société. Seuls des collaborateurs de l’entreprise peuvent y accéder.
Nous prenons toutes les précautions techniques et organisationnelles nécessaires et raisonnables pour

prévenir et empêcher la perte, l’abus ou l’altération de vos informations personnelles. Nos systèmes sont
équipés de pare-feu et de solutions antivirales régulièrement mises à jour.
<h2>6. Durée de conservation des informations</h2>
Nous conservons vos informations pendant toute la durée nécessaire à la bonne conduite des échanges qui
découlent de notre relation client / prestataire.
Il se peut que nous conservions vos informations au-delà de cette durée en raison d’exigences légales de
conservation d’archives et de documents contractuels spécifiques à notre activité d’organisme de achat vente
de biens mobiliers.
<h2>7. Acceptation</h2>
Pour transmettre vos informations vous devez accepter pleinement la présente politique de confidentialité.
L’envoi d’informations via nos formulaires ne peut se faire sans avoir coché au préalable une case qui
confirme votre prise de connaissance de cette politique.
<h2>8. Cookies</h2>
Ce site utilise des cookies indispensable à son bon fonctionnement; ils ne collectent aucune donnée
personnelle.
Certains, qui ne collectent aucune donnée personnelle, sont indispensables au bon fonctionnement du site.
D’autres sont utilisés pour établir des statistiques. Vous pouvez les désactiver à tout moment, via une
bannière située dans la partie visible inférieure du site.
